@model AddCityViewModel
@{
    ViewData["Title"] = "Add city";
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-action="AddCity" asp-controller="City" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home">back to main menu</a>
    </div>
</div>
