<div class="container">
    <div>
        <a asp-action="CityTripsPerMonthStatistics" asp-controller="Statistics" style="margin-right: 30px;">Number of city trips per month</a>
    </div>
    <div>
        <a asp-action="AverageCityTripCostPerMonth" asp-controller="Statistics" style="margin-right:30px;">Average city trip cost per month</a>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Home" style="color: mediumvioletred;">back to main menu</a>
    </div>
</div>